.Logo {
  color: #8EC170;
  font-family: "Courier New", "Courier", monospace;
  font-size: 45px;
  font-weight: 100;
  margin: 1em 0 0;
  text-align: center;
}
@media (min-width: 640px) {
  .Logo {
    font-size: 75px;
  }
}
